@font-face {
    font-family: "Tanker";
    src: url('./Fonts/OTF/Tanker-Regular.otf');
}
@font-face {
    font-family: "Alpino";
    src: url('./Alpino_Complete/Fonts/OTF/Alpino-Regular.otf');
}
body{
    background-image: url('./boxes/Background.svg');
}

.contianer{
    display: flex;
    justify-content: center;
    gap: 95px;
    position: relative;
    flex-wrap: wrap;
}

.left-section {
    width: 372px;
    height: 385px;
    position: sticky;
    top: 15%;
    
}

.left-section .tutlub{
    display: flex;
    gap: 10px;
}

.tutlub-title{
    color: #ffff;
    font-size: 17px;
    margin: 0;
}
.sction-text .sction-title{
    font-size: 70px;
    color: #ffff;
    font-family: 'Tanker';
    line-height: 110%;
}
/* .sction-text .sction-p{
    color: #ffff;
    font-size: 22px;
    font-family: 'Alpino';
} */
.p-text{
    display: block;
}
.p-text-mob{
    display: none;
}
.sction-text .sction-p .p-span, .p-span2{
    color: #5D369E;
}
.store-icons{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.apple-store , .androied-store{
    cursor: pointer;
}


.icons-container {
    width: 166px;
    height: 30px;
    background-image: url('./photo/FixFooter.png');
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    position: fixed;
    bottom: 20px
}

.icons-container a {
    width: 20px;
    height: 20px;
    background: radial-gradient(98.81% 79.15% at 98.81% 49.96%, #47384B 0%, #332137 100%);
    box-shadow: 0px 16.020000457763672px 32.040000915527344px 0px #00000047;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px
}


/* Right */
.right-sction{
    margin-top: 50px;
}
.scroll-box1{
    
    position: relative;
    margin-top: 20px;
    width: 491px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-box {
    background-image: url('./photo/Subtract.png');
    background-size: cover; 
    background-position: center;
    position: relative;
    margin-top: 20px;
    width: 491px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    position: absolute;
    top: 10%;
    width: 214px;
    height: 459px;
    display: block;
}
.h2-box{
    position: absolute;
    bottom: 78px;
    text-align: center;
    margin-top: 38rem;
}
.vector-div{
    position: absolute;
    bottom: 7px;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 30px;
    border-radius: 20px 20px 0 0;
    left: 48%;
}


/* for small phone */
@media (max-width: 990px) {
    .contianer .left-section {
        width: 372px;
        height: 385px;
        position: relative;
        margin-top: 60px;
    }
    .contianer{
        overflow-x: hidden;
    }

    .icons-container {
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .p-text{
        display: none;
    }
    .p-text-mob{
        display: block;
    }
}
@media (max-width: 1280px){
    body{
        background-color: rgba(24, 6, 27, 1);
    }
    .section{
        background-image: url('./photo/Rectangleforlabtop.png');
    }
}